@import '_reboot.css';

body {
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}


.k-accordion {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  & + & {
    margin-top: 40px;
  }

  &__heading {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &.active {
      i {
        transform: rotate(-90deg);
      }
    }

    i {
      display: flex;
      align-items: center;
      transition: 0.2s ease transform;
    }

    &__title {
      display: flex;
      flex: 1 0 100%;
      justify-content: space-between;
      align-self: flex-start;

    }
  }
  &__body {


  }
}


