.k-accordion {
  &__title {
    background-color: gray;
  }
  &__body {
    background-color: red;
    height: 0;
    overflow: hidden;

    &--animate {
      transition: height 0.6s ease;
    }
  }
}


.acc-animation {
  transition: height 0.6s ease;
}
