.box--full {
  width: 100%;
  height: 100%;
}
.box--full-w {
  width: 100%;
}
.box--full-h {
  height: 100%;
}
.box--flex {
  display: flex;
}
.box--flex--pos--self-start {
  display: flex;
  align-self: flex-start;
}
.box--flex--pos--self-end {
  display: flex;
  align-self: flex-end;
}
.box--flex--pos--self-center {
  display: flex;
  align-self: center;
}
.box--flex--pos--self-stretch {
  display: flex;
  align-self: stretch;
}
.box--flex--pos--y {
  display: flex;
  align-items: center;
}
.box--flex--pos--Yyy {
  display: flex;
  align-items: flex-start;
}
.box--flex--pos--yyY {
  display: flex;
  align-items: flex-end;
}
.box--flex--pos--x {
  display: flex;
  justify-content: center;
}
.box--flex--pos--Xxx {
  display: flex;
  justify-content: flex-start;
}
.box--flex--pos--xxX {
  display: flex;
  justify-content: flex-end;
}
.box--flex--pos--XxX {
  display: flex;
  justify-content: space-between;
}
.box--flex--pos--xXx {
  display: flex;
  justify-content: space-around;
}
.box--flex--pos--xy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box--flex--column {
  flex-flow: column;
  display: flex;
}
.box--flex--column--wrap {
  flex-flow: column wrap;
  display: flex;
}
.box--flex--row {
  flex-flow: row;
  display: flex;
}
.box--flex--row--wrap {
  flex-flow: row wrap;
  display: flex;
}
.box--flex--inline {
  display: inline-flex;
  width: auto;
}
.box--flex--inline--self-start {
  display: flex;
  align-self: flex-start;
}
.box--flex--inline--self-end {
  display: flex;
  align-self: flex-end;
}
.box--flex--inline--self-center {
  display: flex;
  align-self: center;
}
.box--flex--inline--self-stretch {
  display: flex;
  align-self: stretch;
}
.box--flex--inline--y {
  display: flex;
  align-items: center;
}
.box--flex--inline--Yyy {
  display: flex;
  align-items: flex-start;
}
.box--flex--inline--yyY {
  display: flex;
  align-items: flex-end;
}
.box--flex--inline--x {
  display: flex;
  justify-content: center;
}
.box--flex--inline--Xxx {
  display: flex;
  justify-content: flex-start;
}
.box--flex--inline--xxX {
  display: flex;
  justify-content: flex-end;
}
.box--flex--inline--XxX {
  display: flex;
  justify-content: space-between;
}
.box--flex--inline--xXx {
  display: flex;
  justify-content: space-around;
}
.box--flex--inline--xy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box--block {
  display: block;
}
.box--inline {
  display: inline;
}
.box--pos--text-left {
  text-align: left;
}
.box--pos--text-center {
  text-align: center;
}
.box--pos--text-right {
  text-align: right;
}
.box--pos--margin-x {
  margin: 0 auto;
}
.box--pos--margin-y {
  margin: auto 0;
}
.box--pos--margin-xy {
  margin: auto;
}
.box--flex--pos--self-start {
  display: flex;
  align-self: flex-start;
}
.box--flex--pos--self-end {
  display: flex;
  align-self: flex-end;
}
.box--flex--pos--self-center {
  display: flex;
  align-self: center;
}
.box--flex--pos--self-stretch {
  display: flex;
  align-self: stretch;
}
.box--flex--pos--y {
  display: flex;
  align-items: center;
}
.box--flex--pos--Yyy {
  display: flex;
  align-items: flex-start;
}
.box--flex--pos--yyY {
  display: flex;
  align-items: flex-end;
}
.box--flex--pos--x {
  display: flex;
  justify-content: center;
}
.box--flex--pos--Xxx {
  display: flex;
  justify-content: flex-start;
}
.box--flex--pos--xxX {
  display: flex;
  justify-content: flex-end;
}
.box--flex--pos--XxX {
  display: flex;
  justify-content: space-between;
}
.box--flex--pos--xXx {
  display: flex;
  justify-content: space-around;
}
.box--flex--pos--xy {
  display: flex;
  justify-content: center;
  align-items: center;
}
